*{
    font-family: arial;
    margin: 0;
    box-sizing: border-box;
}
.meme-generator{
    width: 550px;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-0%);
}
.nav{
    display: flex;
    padding: 20px;
    background: #672280;
    justify-content: space-between;
    color: white;
}
.meme-logo{
    width: 31px;
    height: 26px;
    margin-right: 5px;
}
.part-1{
    display: flex;
}