*{
    font-family: Karla, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.meme-generator{
    width: 550px;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-0%);
}
.nav{
    display: flex;
    padding: 20px;
    background: linear-gradient(90deg, #672280,#A818DA);
    justify-content: space-between;
    color: white;
}
.meme-logo{
    width: 31px;
    height: 26px;
    margin-right: 5px;
}
.part-1{
    display: flex;
}

/* meme-component */
.meme-component{
    width: 100%;
    padding: 30px;
}
.meme-inputs{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.meme-button{
    width: 100%;
    color: white;
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(90deg, #672280,#A818DA);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.input-labeled input{
    padding: 8px;
}
.input-labeled{
    display: flex;
    flex-direction: column;
    width: 48%;
}
.meme-image{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    margin-top: 20px;
}

.meme {
    position: relative;
    display: inline-block;
}

.top-text, .bottom-text {
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: -3px -3px 0 black,  
                  3px -3px 0 black,
                 -3px  3px 0 black,
                  3px  3px 0 black;
    padding: 30px;
    }

.top-text {
    top: 0;
}

.bottom-text {
    bottom: 0;
}
